<html>
<body>
<h1> New Book </h1>
<form action="{{url_for('newBook', bookstore_id=bookstore_id )}}" method = 'POST'>

	<p>Title:</p>
		<input type='text' size='80' name='title'>
	<p>Author:</p>
		<input type='text' size='80' name='author'>
    <p>Description:</p>
        <input type='text' size=80 name='description' />
    <p>Price:</p>
        <input type='int' name='price' />
    <p>Genre:</p>
        <input type='radio' name='genre' value='Fantasy' />
	        <label>Fantasy</label>
        </br>
        <input type='radio' name='genre' value='Mystery' />
	        <label>Mystery</label>
        </br>
        <input type='radio' name='genre' value='Romance' />
	        <label>Romance</label>
        </br>
        <input type='radio' name='genre' value='Sci-Fi' />
	        <label>Sci-Fi</label>

		</br></br>
	<input type='submit' value='Create'>
	<a href=" {{  url_for('bookstoreCatalog', bookstore_id = bookstore_id) }}  ">Cancel</a>
	
</form>
</body>
</html>
