{% extends "main.html" %}
{% block content %}
{% include "navbar.html" %}


<h1> New Book </h1>
<form action="{{url_for('book.newBook', bookstore_id=bookstore_id )}}" method = 'POST'>
    <p>Title:</p>
        <input type='text' size=80 name='title' required="required" />
    <p>Author:</p>
        <input type='text' size=80 name='author' required="required" />
    <p>Description:</p>
        <input type='text' size=80 name='description' required="required" />
    <p>Price:</p>
        <input type='int' name='price' required="required" />
    <p>Genre:</p>
        <input type='radio' name='genre' value='Fantasy' required="required" />
            <label>Fantasy</label>
        </br>
        <input type='radio' name='genre' value='Mystery' required="required" />
            <label>Mystery</label>
        </br>
        <input type='radio' name='genre' value='Romance' required="required" />
            <label>Romance</label>
        </br>
        <input type='radio' name='genre' value='Sci-Fi' required="required" />
            <label>Sci-Fi</label>
        </br>
        <input type='radio' name='genre' value='Other' required="required" />
            <label>Other</label>

        </br></br>
    <input type='submit' value='Create' />
    <a href=" {{  url_for('book.bookstoreCatalog', bookstore_id = bookstore_id) }}  ">Cancel</a>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
</form>

{% endblock %}
